# Virtual environment
venv/

# Python
__pycache__/
*.py[cod]

# Django
*.log
db.sqlite3

# Environment variables
.env

# Visual Studio Code
.vscode/
.venv/
.env.*
!.env.example
staticfiles/
.coverage
htmlcov/

# User uploaded media
media/

# Local product images
images/